<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
</head>

<body>
<div style="text-align:right;">
    <p th:text="${'user: ' + session.user2}"></p>
</div>
<div style="text-align:right;">
    <div th:if="${session.user2.equals('Anonymous')}">
        <form action="/db2_project_war_exploded" method="POST">
            <input type="submit" value="login">
        </form>
    </div>
    <!-- ELSE -->
    <div th:unless="${session.user2.equals('Anonymous')}">
        <form action="/db2_project_war_exploded" method="POST">
            <input type="submit" value="Logout (non ancora implementato)">
        </form>
        <br>
        <form action="/db2_project_war_exploded/failedorder" method="POST">
            <input type="submit" value="Failed Orders">
        </form>
    </div>
</div>
<div style="text-align:left;">
    <h1>Welcome to the TELCO APPLICATION Home Page</h1>
</div>

    <th:block th:each="tp : ${telcopackage}">
        <br>
        <form id="BuyPackageForm" th:action="@{/buypackage(packageid=${tp.id})}" method="POST">
            <input type="submit" value="Buy Package">
        </form>
        <h3 th:text="${'Package Name: ' + tp.getName()}"></h3>
        <h4>Services: </h4>
        <th:block th:each="se : ${tp.getServices()}">
            <td th:text="${'type: ' + se.getType()}"></td>
            <td th:if="${se.getNMin()!=0}" th:text="${'Nmin: ' + se.getNMin()}"></td>
            <td th:if="${se.getNSMS()!=0}" th:text="${'Nsms: ' + se.getNSMS()}"></td>
            <td th:if="${se.getExtraMinFee()!=0}" th:text="${'ExtraMinFee: ' + se.getExtraMinFee()}"></td>
            <td th:if="${se.getExtraSMSFee()!=0}" th:text="${'ExtraSmsFee: ' + se.getExtraSMSFee()}"></td>
            <td th:if="${se.getNGiga()!=0}" th:text="${'Ngiga: ' + se.getNGiga()}"></td>
            <td th:if="${se.getExtraGigaFee()!=0}" th:text="${'ExtraGIgaFee: ' + se.getExtraGigaFee()}"></td>
            <br>
        </th:block>
        <br>
        <h4>Validity Periods: </h4>
        <th:block th:each="vp : ${tp.getValidityPeriods()}">
            <td th:text="${'Duration: ' + vp.getDuration()}"></td>
            <td th:text="${'Fee: ' + vp.getPrice()}"></td>
            <br>
        </th:block>
        <br>
        <h4>Optional Products: </h4>
        <th:block th:each="op : ${tp.getOptionalProducts()}">
            <td th:text="${'Name: ' + op.getName()}"></td>
            <td th:text="${'Fee: ' + op.getFee()}"></td>
            <br>
        </th:block>
        <hr>
    </th:block>

</body>
</html>