<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<div>
    <div th:if="${session.status}">
        <h2>The payment has been successful.  </h2>
        <h3 th:text="${'The service will start on ' + session.startDate}"</h3>
    </div>
    <!-- ELSE -->
    <div th:unless="${session.status}">
        <h2>Something went wrong with the payment</h2>
        <h3>Go to the failed orders page and retry the payment</h3>
    </div>
</div>
<form action="/db2_project_war_exploded/home" method="POST">
    <input type="submit" value="Back to Home">
</form>
</body>
</html>